$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
$padding-size:pr(24px);

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

/* 表单模块 */
.form-lcm{
  width: 700px;
  margin: 0 auto;
}

/* 攻读名校本科 */
.famous-school{
  padding: 119px 110px 0 60px;
  background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/pc-form_1.png") no-repeat;
  margin-bottom: 10px;
  .sign-in{
    width: 100%;
    padding: 25px 48px 0 40px;
    box-sizing: border-box;
    .form-row{
      font-size: 14px;
      line-height: 38px;
      color: #444444;
      margin-bottom: 13px;
      padding-left: 17px;
      &:last-child{
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
      }
      label{
        font-weight: bold;
      }
      input[type="text"],select{
        appearance: none;
        &::-webkit-input-placeholder{
          color: #999;
          font-size: inherit;
        }
        &:-moz-placeholder {
          color: #999;
          font-size: inherit;
        }
        &::-moz-placeholder {
          color: #999;
          font-size: inherit;
        }
        &:-ms-input-placeholder {
          color: #999;
          font-size: inherit;
        }
      }
      input,select{
        width: 284px;
        height: 38px;
        border: solid 1px #dddddd;
        outline: none;
        font-family: '微软雅黑';
      }
      input{
        text-indent: 1em;
      }
      select{
        padding: 0 1em;
        background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_1.png") no-repeat 93% #ffffff;
        background-size: 7px 4px;
      }
      &.important{
        background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_2.png") no-repeat left;
        background-size: 6px 6px;
      }
      input[type='submit']{
        width: 181px;
        height: 42px;
        line-height: 42px;
        background-image: linear-gradient(135deg,
            #ffca10 0%,
            #ef6e28 100%),
        linear-gradient(
                #ef6e28,
                #ef6e28);
        background-blend-mode: normal,
        normal;
        border-radius: 6px 6px 0px 0px;
        border: none;
        font-size: 16px;
        color: #ffffff;
        cursor: pointer;
      }
      .row-consult{
        @extend %in-b;
        width: 181px;
        height: 42px;
        line-height: 42px;
        background-image: linear-gradient(135deg,
            #46c7eb 0%,
            #3993e9 100%),
        linear-gradient(
                #3993e9,
                #3993e9);
        background-blend-mode: normal,
        normal;
        border-radius: 6px 6px 0px 0px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }
}

/* 优选自考 */
.self-study{
  padding: 20px 20px 20px 260px;
  background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/pc-form_2.png") no-repeat;
  margin-bottom: 10px;
  .sign-in{
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 0px
    rgba(210, 87, 20, 0.42);
    border-radius: 6px;
    .form-row{
      font-size: 14px;
      line-height: 38px;
      color: #444444;
      margin-bottom: 23px;
      padding-left: 16px;
      &:last-child{
        margin-bottom: 0;
        padding-left: 0;
      }
      label{
        @extend %in-b;
        font-weight: bold;
      }
      input[type="text"],select{
        appearance: none;
        &::-webkit-input-placeholder{
          color: #999;
          font-size: inherit;
        }
        &:-moz-placeholder {
          color: #999;
          font-size: inherit;
        }
        &::-moz-placeholder {
          color: #999;
          font-size: inherit;
        }
        &:-ms-input-placeholder {
          color: #999;
          font-size: inherit;
        }
      }
      input,select{
        width: 284px;
        height: 38px;
        border: solid 1px #dddddd;
        outline: none;
        font-family: '微软雅黑';
      }
      input{
        text-indent: 1em;
      }
      select{
        padding: 0 1em;
        background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_1.png") no-repeat 93% #ffffff;
        background-size: 7px 4px;
      }
      &.important{
        background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_2.png") no-repeat left;
        background-size: 6px 6px;
      }
      input[type='submit'], .row-consult{
        width: 181px;
        height: 42px;
        line-height: 42px;
        background-image: linear-gradient(135deg,
            #ffca10 0%,
            #ef6e28 100%),
        linear-gradient(
                #ef6e28,
                #ef6e28);
        background-blend-mode: normal,
        normal;
        border-radius: 21px;
        border: none;
        font-size: 16px;
        color: #ffffff;
        cursor: pointer;
      }
      .row-consult{
        @extend %in-b;
        text-align: center;
        vertical-align: middle;
        margin-left: 10px;
        background-image: linear-gradient(135deg,
            #46c7eb 0%,
            #3993e9 100%),
        linear-gradient(
                #3993e9,
                #3993e9);
        background-blend-mode: normal,
        normal;
        box-shadow: 0px 3px 5px 0px
      }
    }
  }
}

/* 成人学历 */
.adult-education{
  padding: 119px 110px 0 60px;
  background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/pc-form_3.png") no-repeat;
  .sign-in{
    width: 100%;
    padding: 25px 48px 0 40px;
    box-sizing: border-box;
    .form-row{
      font-size: 14px;
      line-height: 38px;
      color: #444444;
      margin-bottom: 13px;
      padding-left: 17px;
      &:last-child{
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
      }
      label{
        font-weight: bold;
      }
      input[type="text"],select{
        appearance: none;
        &::-webkit-input-placeholder{
          color: #999;
          font-size: inherit;
        }
        &:-moz-placeholder {
          color: #999;
          font-size: inherit;
        }
        &::-moz-placeholder {
          color: #999;
          font-size: inherit;
        }
        &:-ms-input-placeholder {
          color: #999;
          font-size: inherit;
        }
      }
      input,select{
        width: 284px;
        height: 38px;
        border: solid 1px #dddddd;
        outline: none;
        font-family: '微软雅黑';
      }
      input{
        text-indent: 1em;
      }
      select{
        padding: 0 1em;
        background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_1.png") no-repeat 93% #ffffff;
        background-size: 7px 4px;
      }
      &.important{
        background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_2.png") no-repeat left;
        background-size: 6px 6px;
      }
      input[type='submit']{
        width: 181px;
        height: 42px;
        line-height: 42px;
        background-image: linear-gradient(135deg,
            #ffca10 0%,
            #ef6e28 100%),
        linear-gradient(
                #ef6e28,
                #ef6e28);
        background-blend-mode: normal,
        normal;
        border-radius: 6px 6px 0px 0px;
        border: none;
        font-size: 16px;
        color: #ffffff;
        cursor: pointer;
      }
      .row-consult{
        @extend %in-b;
        width: 181px;
        height: 42px;
        line-height: 42px;
        background-image: linear-gradient(135deg,
            #46c7eb 0%,
            #3993e9 100%),
        linear-gradient(
                #3993e9,
                #3993e9);
        background-blend-mode: normal,
        normal;
        border-radius: 6px 6px 0px 0px;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width:750px) {
  /* 表单模块 */
  .form-lcm{
    width: 100%;
  }

  /* 攻读名校本科 */
  .famous-school{
    padding: pr(119px) pr(30px) 0;
    background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/wap-form_1.png") no-repeat;
    background-size: 100% 100%;
    .sign-in{
      padding: pr(30px) 0 0 pr(26px);
      .form-row{
        font-size: pr(26px);
        line-height: pr(52px);
        margin-bottom: pr(13px);
        padding-left: pr(20px);
        input,select{
          width: pr(364px);
          height: pr(52px);
        }
        select{
          background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_1.png") no-repeat 92% #ffffff;
          background-size: pr(13px) pr(7px);
        }
        input[type='submit'],.row-consult{
          width: pr(261px);
          height: pr(56px);
          line-height: pr(56px);
          font-size: pr(28px);
          border-radius: pr(6px) pr(6px) 0 0;
        }
      }
    }
  }

  /* 优选自考 */
  .self-study{
    padding: pr(20px) pr(20px) pr(26px) pr(260px);
    background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/wap-form_2.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    .sign-in{
      padding: pr(20px) pr(20px) pr(50px) pr(20px);
      box-shadow: 0px 0px pr(24px) 0px
      rgba(210, 87, 20, 0.42);
      border-radius: pr(6px);
      .form-row{
        font-size: pr(26px);
        line-height: pr(26px);
        margin-bottom: pr(20px);
        padding-left: 0;
        label{
          margin-bottom: pr(20px);
          &.important{
            padding-right: pr(27px);
            background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_2.png") no-repeat right;
            background-size: pr(9px) pr(9px);
          }
        }
        input,select{
          width: 100%;
          height: pr(52px);
          line-height: pr(52px);
        }
        select{
          padding: 0 1em;
          background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_1.png") no-repeat 92% #ffffff;
          background-size: pr(13px) pr(7px);
        }
        &.important{
          background: none;
        }
        input[type='submit'],.row-consult{
          width: pr(261px);
          height: pr(56px);
          line-height: pr(56px);
          font-size: pr(28px);
          border-radius: pr(6px) pr(6px) 0 0;
        }
        .row-consult{
          margin-left: pr(20px);
          box-shadow: none;
        }
        &.submit-btn{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
        }
      }
    }
  }

  /* 成人学历 */
  .adult-education{
    padding: pr(119px) pr(30px) 0;
    background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/wap-form_3.png") no-repeat;
    background-size: 100% 100%;
    .sign-in{
      padding: pr(30px) 0 0 pr(26px);
      .form-row{
        font-size: pr(26px);
        line-height: pr(52px);
        margin-bottom: pr(13px);
        padding-left: pr(20px);
        input,select{
          width: pr(364px);
          height: pr(52px);
        }
        select{
          background: url("https://img.thea.cn/public/platform/thea/201910/hbj/form-lcm/images/icon_1.png") no-repeat 92% #ffffff;
          background-size: pr(13px) pr(7px);
        }
        input[type='submit'],.row-consult{
          width: pr(261px);
          height: pr(56px);
          line-height: pr(56px);
          font-size: pr(28px);
          border-radius: pr(6px) pr(6px) 0 0;
        }
      }
    }
  }
}